In [1]:
pip install wbdata

Collecting wbdata
  Downloading wbdata-1.0.0-py3-none-any.whl.metadata (2.6 kB)
Collecting appdirs<2.0,>=1.4 (from wbdata)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting backoff<3.0.0,>=2.2.1 (from wbdata)
  Using cached backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: cachetools<6.0.0,>=5.3.2 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from wbdata) (5.4.0)
Collecting dateparser<2.0.0,>=1.2.0 (from wbdata)
  Downloading dateparser-1.2.1-py3-none-any.whl.metadata (29 kB)
Requirement already satisfied: decorator<6.0.0,>=5.1.1 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3.0,>=2.0 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from wbdata) (2.32.3)
Collecting shelved-cache<0.4.0,>=0.3.1 (from wbdata)
  Downloading shelved_cache-0.3.1-py3-none-any.whl.metadata (4.7 kB)
Collecting tabulate<0.9.0,>=0.8.5 (from wbdata)
  Downloading tabulate-0.8.10-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: python-dateutil>=2.7.0 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2.9.0.post0)
Collecting pytz>=2024.2 (from dateparser<2.0.0,>=1.2.0->wbdata)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting regex!=2019.02.19,!=2021.8.27,>=2015.06.24 (from dateparser<2.0.0,>=1.2.0->wbdata)
  Using cached regex-2024.11.6-cp312-cp312-macosx_11_0_arm64.whl.metadata (40 kB)
Collecting tzlocal>=0.2 (from dateparser<2.0.0,>=1.2.0->wbdata)
  Downloading tzlocal-5.3.1-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from requests<3.0,>=2.0->wbdata) (2024.7.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/TestEnv/lib/python3.12/site-packages (from python-dateutil>=2.7.0->dateparser<2.0.0,>=1.2.0->wbdata) (1.16.0)
Downloading wbdata-1.0.0-py3-none-any.whl (18 kB)
Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Using cached backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading dateparser-1.2.1-py3-none-any.whl (295 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.7/295.7 kB 6.7 MB/s eta 0:00:00a 0:00:01
Downloading shelved_cache-0.3.1-py3-none-any.whl (7.8 kB)
Downloading tabulate-0.8.10-py3-none-any.whl (29 kB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 14.9 MB/s eta 0:00:00
Using cached regex-2024.11.6-cp312-cp312-macosx_11_0_arm64.whl (284 kB)
Downloading tzlocal-5.3.1-py3-none-any.whl (18 kB)
Installing collected packages: pytz, appdirs, tzlocal, tabulate, shelved-cache, regex, backoff, dateparser, wbdata
  Attempting uninstall: pytz
    Found existing installation: pytz 2024.1
    Uninstalling pytz-2024.1:
      Successfully uninstalled pytz-2024.1
  Attempting uninstall: tabulate
    Found existing installation: tabulate 0.9.0
    Uninstalling tabulate-0.9.0:
      Successfully uninstalled tabulate-0.9.0
Successfully installed appdirs-1.4.4 backoff-2.2.1 dateparser-1.2.1 pytz-2025.2 regex-2024.11.6 shelved-cache-0.3.1 tabulate-0.8.10 tzlocal-5.3.1 wbdata-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
import wbdata
import pandas as pd
import datetime

In [39]:
# Récupérer les données pour un indicateur spécifique
import wbdata

# Récupérer les données pour un indicateur spécifique pour une année donnée
data = wbdata.get_data("SL.EMP.TOTL.SP.ZS", country="EU")

pd.DataFrame(data)



#SL.EMP.WORK.ZS        Wage and salaried workers, total (% of total employment) (modeled ILO estimate)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,2024,54.060600,,,0
1,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,2023,54.177729,,,0
2,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,2022,53.956543,,,0
3,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,2021,52.973572,,,0
4,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,2020,52.457619,,,0
...,...,...,...,...,...,...,...,...
60,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,1964,NaN,,,0
61,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,1963,NaN,,,0
62,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,1962,NaN,,,0
63,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,1961,NaN,,,0
64,"{'id': 'SL.EMP.TOTL.SP.ZS', 'value': 'Employme...","{'id': 'EU', 'value': 'European Union'}",EUU,1960,NaN,,,0